Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Added .gitignore files in <Data> folders so useless files will not be versioned in the future
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Input/.gitignore
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Output/.gitignore
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Temp/.gitignore
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added .gitignore file in the <Exceptions_Screenshots> folder. This will cause the users to no longer add exception screenshots to version control
  REFramework/contentFiles/any/any/pt2/VisualBasic/Exceptions_Screenshots/.gitignore
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

added global .gitignore file. will ignore .local folder
  REFramework/contentFiles/any/any/pt2/VisualBasic/.gitignore
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Excel version for Studio Task template STUD-75647
  BusinessProject/UiPath.Template.BusinessProject.nuspec
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Initialize VisualBasic.Settings to null, to be able to compile expressions with workflow references; cleanup workflow; (STUD-75672)
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/RetryCurrentTransaction.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump REFramework nuget version to 24.10.3
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Vb Update
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.gitignore
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestCaseAppTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestCaseWebTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Flows/AddFlowsHere.txt
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StartApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StopApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseApp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseWeb.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add flows for C#
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Flows/AddFlowsHere.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

C# Updates
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestCaseAppTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Application/StartApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Application/StopApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

C# updates
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.gitignore
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestCaseWebTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Tests/TestCaseApp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Tests/TestCaseWeb.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Code review updates
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/WorkFlows/AddReusableWorkFlowsHere.txt
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Tests/TestCaseWeb.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/WorkFlows/AddWorkFlowsHere.txt
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

vb updates
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

fixbug
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/ExecutionTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updates
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestCaseAppTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestCaseWebTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Application/StartApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Application/StopApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Tests/TestCaseApp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updates
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/ExecutionTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StartBrowser.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update c# project name
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update nuspec to add .gitignore
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update pipeline to pack nondefault files
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

remove git ignore line
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update pipeline script
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

undo fix
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added sequences for VB version, except for Catch sections.
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/entry-points.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated all missing sequences for VB - Windows project.
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.uiproj
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated project version to 25.10.0, project dependencies and template dependencies.
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt3/CSharp/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt3/CSharp/.project/design.json
  REFramework/contentFiles/any/any/pt3/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/entry-points.json
  REFramework/contentFiles/any/any/pt3/CSharp/project.json
  REFramework/contentFiles/any/any/pt3/CSharp/project.uiproj
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml
