Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Update DU-Test.yml
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Correction for AutocorrectOCR
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Correction in Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove pt2 (cross-platform) from files to exclude
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove pt2 (cross-platform) from files to exclude (#296)
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

pt2->pt3
  DocumentUnderstandingProcess/Tests/constants.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/AutocorrectionLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Certificate_of_filing.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Invoice.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Receipt.jpg
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/TempFolder/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/LICENSE
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/readme.md
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Feature/du/xplatform enable (#297)
  DocumentUnderstandingProcess/Tests/constants.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/AutocorrectionLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Certificate_of_filing.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Invoice.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Receipt.jpg
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/TempFolder/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/LICENSE
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/readme.md
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

increased .version
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

24.10.1 xplatform enable (#298)
  DocumentUnderstandingProcess/Tests/constants.py
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/AutocorrectionLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Certificate_of_filing.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Invoice.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/Receipt.jpg
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/ExampleDocuments/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/TempFolder/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/LICENSE
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/readme.md
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Add regex to extract the state name from the Certificate of Filing
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Update Python test data
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add StudioX task template STUD-73255
  BusinessProject/UiPath.Template.BusinessProject.nuspec
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.ja.xlsx
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  BusinessProject/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Task template 24.10.2
  BusinessProject/UiPath.Template.BusinessProject.nuspec
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add Long Running Process template
  LongRunningProcess/UiPath.Template.LongRunningProcess.nuspec
  LongRunningProcess/contentFiles/any/any/pt0/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  LongRunningProcess/contentFiles/any/any/pt1/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/project.json
  LongRunningProcess/contentFiles/any/any/pt2/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/project.json
  LongRunningProcess/contentFiles/any/any/pt3/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/project.json
  LongRunningProcess/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump Long Running Process version
  LongRunningProcess/UiPath.Template.LongRunningProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added @nicococan to DU owners
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update long running automation template tags
  LongRunningAutomation/UiPath.Template.LongRunningProcess.nuspec
  LongRunningProcess/UiPath.Template.LongRunningProcess.nuspec
  LongRunningProcess/contentFiles/any/any/pt0/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  LongRunningProcess/contentFiles/any/any/pt1/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt1/CSharp/project.json
  LongRunningProcess/contentFiles/any/any/pt2/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt2/VisualBasic/project.json
  LongRunningProcess/contentFiles/any/any/pt3/.local/template.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.objects/.metadata
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.objects/.type
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.project/PackageBindingsMetadata.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.project/design.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/.tmh/config.json
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/Main.xaml
  LongRunningProcess/contentFiles/any/any/pt3/CSharp/project.json
  LongRunningProcess/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update long running automation template dependencies
  LongRunningAutomation/contentFiles/any/any/pt0/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt0/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt1/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt1/CSharp/project.json
  LongRunningAutomation/contentFiles/any/any/pt2/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt2/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt3/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt3/CSharp/project.json
  LongRunningAutomation/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump Long Running Automation template version
  LongRunningAutomation/UiPath.Template.LongRunningProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump Long Running Automation template version
  LongRunningAutomation/UiPath.Template.LongRunningProcess.nuspec
  LongRunningAutomation/contentFiles/any/any/pt0/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt0/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt1/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt1/CSharp/project.json
  LongRunningAutomation/contentFiles/any/any/pt2/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt2/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt3/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Windows: Regex correction (#299)
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add cross tenant configuration for ml consumption
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Solve failing RPA tests.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Removed broken import and added two empty sequences
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/InitAllSettings.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-75275__add_uipathstudiotestautomationtemplate_tag] adding UiPathStudioTestAutomationTemplate tag
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-75275__add_uipathstudiotestautomationtemplate_tag] template version change
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-75275__add_uipathstudiotestautomationtemplate_tag] publish mobile
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[stud-75275__add_uipathstudiotestautomationtemplate_tag] revert publish mobile
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[stud-75275__add_uipathstudiotestautomationtemplate_tag] adding UiPathStudioTestAutomationTemplate tag to testautomationframework
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update the Task template and fix open from StudioX bug STUD-75220 STUD-74745
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

change version
  BusinessProject/UiPath.Template.BusinessProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

change ProjectProfile for a test
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

revert to business ProjectProfile
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update excel package version
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update the Task template and fix open from StudioX bug STUD-75220 STUD-74745
  BusinessProject/UiPath.Template.BusinessProject.nuspec
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.ja.xlsx
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  BusinessProject/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  BusinessProject/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update mail activities version
  BusinessProject/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Long Running Automation with new package version and icon STUD-75213
  LongRunningAutomation/UiPath.Template.LongRunningProcess.nuspec
  LongRunningAutomation/contentFiles/any/any/pt0/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt0/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt1/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt1/CSharp/project.json
  LongRunningAutomation/contentFiles/any/any/pt2/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt2/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt3/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt3/CSharp/project.json
  LongRunningAutomation/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update icon
  LongRunningAutomation/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml
