Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Updated Test Automation Framework to 2023.10 (#254)
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Autocorrect fine-tuning
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/AutocorrectOcrMistakes_mock.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add Initialize Orchestrator
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/InitializeOrcestrator/OrchestratorRequest_POST.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/Data/HttpRequest/POST/Asset.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/Data/HttpRequest/POST/Queue.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/Data/HttpRequest/POST/StorageBucket.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/Data/HttpRequest/POST/TaskCatalog.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/Data/InitializeOrchestratorConfig.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/InitializeOrchestrator.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/OrchestratorRequest_POST.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[mobile_template_23_12_0_preview_for_studio_23_12_0] UiPath.MobileAutomation.Activities -> 23.12.0-preview, template version -> 23.12.0
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

mobile testing template uses mobileautomation 23.12.0-preview (#255)
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add annotations to the variables and arguments. Also, change the variable names to camel case.
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/InitializeOrchestrator.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/OrchestratorRequest_POST.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add annotations to the variables and arguments. Also, change the variable names to camel case.
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/QuickStart/InitializeOrchestrator/InitializeOrchestrator.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

update
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/50_Extraction/Extraction.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/BatchTestingUtilities/LoadDigitizationFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added automatic Cache writing if the skip flag is set to false, it will write the data to disk.
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/50_Extraction/Extraction.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

*Changed other-Confidence field in IPP config sheet from 50 to 45 *Changed OutputMessageFormat in Invoice_OtherFieldsConfidence test to add more info about confidence score of the extracted fields
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_OtherFieldsConfidence.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added comment for Receipt_OtherFieldsConfidence test.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_OtherFieldsConfidence.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update on Config_Expected.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config_Expected.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove workarounds from DU Pipeline
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove workarounds from DU Pipeline (#256)
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Merged commits and pushed new doctext/cres/dom
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update on Export.xaml Test Case
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated readme
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/readme.md
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

testing new version of openpyxl
  DocumentUnderstandingProcess/Tests/requirements.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated requirements.txt
  DocumentUnderstandingProcess/Tests/requirements.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed pt3->pt2. Excluded pt2 from nuspec.
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix/du/cross platform (#258)
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed pt2/3
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed pt2/3 (#261)
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

23.10.2
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

23.10.1
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

nuspec fix
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

commented the build part of the pipeline
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix/du/23.10.1 (#264)
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update to new recording flow
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Automation Ops templates
  BuildAndPromoteWithApprovalPipeline/UiPath.Template.BuildAndPromoteWithApprovalPipeline.nuspec
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.analysis/project_analysis_results.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/ComputerRepositoryUrl.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/TestCase_Azure.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/TestCase_GitHub.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/project.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/.objects/.type
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/GetProjectSetting.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/SnippetsTests.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/bindings.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/bindings_v2.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/project.json
  UpdateProcessFromCodePipeline/UiPath.Template.UpdateProcessFromCodePipeline.nuspec
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.analysis/project_analysis_results.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/JitCustomTypes.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/ComputerRepositoryUrl.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/GetProjectSetting.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/TestCase_Azure.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/TestCase_GitHub.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

feat(CommunicationsMiningDispatcher): initial commit
  CODEOWNERS
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/AdvanceStream.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/CreateQueueItem.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/FetchStream.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetDestinationQueue.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetNextCommunication.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/InitAllSettings.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/LICENSE
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/README.md
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Comments.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Datasets.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/ErrorResponse.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/GetDestinationQueueExpectedHash.txt
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/HashChecker.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Sources.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Streams.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/TestGetDestinationQueueHasNotChanged.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/TestHeavilyFilteredStream.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/TestStreamWithNoFilter.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/CmTestApiClient.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/Orchestrator.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/TestEnvironment.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/Workflows.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
  CommunicationsMiningDispatcher/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

add template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml
