Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

Update Mobile to 21.10.1 (#106)
  .pipelines/azure-pipelines/templates.config
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated UIAutomation and Mail activities
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated UIAutomation and Mail activities (#105)
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Excel package version for StudioX Templates
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated templates.config to push StudioX templates to official feed
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

21.10.1 patch Updated dependencies Removed dependency to PDF Activities package Solved some Analyzer issues Fixed the issue with logging the page range
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated templates.config to publish DU to official feed
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated Studio and StudioX templates to the latest System.Activities dependency 21.10.2
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fixed SplitExcelSheet Template
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated templates.config for StudioX templates
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated dependencies Fix for the "currentPageRange" workaround
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

UI-50657 - New icons with transparency has been provided for StudioX Templates. Versions increased to 21.12.0
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/images/icon.png
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/images/icon.png
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/images/icon.png
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/images/icon.png
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/images/icon.png
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/images/icon.png
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed the git diff issue when commit has two parents
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated all bundled templates for the 21.10.4 patch UI-51970
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated all bundled templates for the 21.10.4 patch UI-51970 (#116)
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Testing Activities to 1.4.4
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump project versions
  .pipelines/azure-pipelines/templates.config
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  REFramework/UiPath.Template.REFramework.nuspec
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Testing Activities to 1.4.4 (#117)
  .pipelines/azure-pipelines/templates.config
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Testing Activities to 1.4.5
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update mail to 1.12.3 in certain templates
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update templates to 21.12.0
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

automated commit
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Testing.Activities version to 1.4.6
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Testing.Activities version to 1.4.6 (#123)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump MobileAutomation version to 21.10.3
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Also update Mobile
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump MobileAutomation version to 21.10.3 (#126)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
