Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - task: PowerShell@2
      inputs:
        targetType: filePath
        filePath: $(System.DefaultWorkingDirectory)\.pipelines\azure-pipelines\DecideTemplatesToPack.ps1
  ...

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

update templates
  ChangeImpactAnalysis/UiPath.Template.SAPTestingProject.nuspec
  ChangeImpactAnalysis/contentFiles/any/any/pt0/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt0/VisualBasic/.templates/SAPChangeImpactAnalysisTemplate.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt1/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt1/CSharp/.templates/SAPChangeImpactAnalysisTemplate.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt2/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt2/VisualBasic/.templates/SAPChangeImpactAnalysisTemplate.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt3/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt3/CSharp/.templates/SAPChangeImpactAnalysisTemplate.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Test Suite: Update CIA template to use execution templates. UI-46307 (#66)
  ChangeImpactAnalysis/UiPath.Template.SAPTestingProject.nuspec
  ChangeImpactAnalysis/contentFiles/any/any/pt0/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt0/VisualBasic/.templates/SAPChangeImpactAnalysisTemplate.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt1/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt1/CSharp/.templates/SAPChangeImpactAnalysisTemplate.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt2/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt2/VisualBasic/.templates/SAPChangeImpactAnalysisTemplate.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt3/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt3/CSharp/.templates/SAPChangeImpactAnalysisTemplate.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added a fix to prevent an exception being thrown in an Asset overwriting a Setting is not found/loaded. Exceptions are still thrown for missing Assets.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Annotation added to explain the logic for loading assets.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Removed PDF Splitting (attended + unattended) Improved Logging (attended + unattended) Improved annotations
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBussinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

added .nuspec file, .local folder and images folder
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/LICENSE
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Adapt CIA template project to new name - Change Impact Mining
  CODEOWNERS
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/VisualBasic/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/CSharp/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/VisualBasic/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/CSharp/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Removed the System.PullRequest predefined variables when running outside a pull request
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Adapt CIA template project to new name - Change Impact Mining (#69)
  CODEOWNERS
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/VisualBasic/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/CSharp/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/VisualBasic/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/CSharp/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Commit 1 Exception Message Arguments replaved with actual exceptions Improved Exception logging
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated SetTransactionStatus to BRE in case of DocumentRejectedByUserException
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added the Skip Classifier/Extractor Trainer logic Updated the SetTransactionProgress code to follow the same approach
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Config cleanup
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated dependencies, version, ProjectUrl
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Modified method of treating errors in loading assets
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed nested sequences issues
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/InitAllSettings.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update UiPath.Template.REFramework.nuspec
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed bug for not rounding subtotal
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Modified templates.config to trigger a manual deploy to official feed
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added the attended module testing functionality
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/IntelligentKeywordLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/ModuleTesting/CheckPoints.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/ModuleTesting/ModuleTesting-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/ModuleTesting/ReadTestData.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated all Studio templates to 21.10.0-preview
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Fix typo in templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update MobileAutomation.Activities referecen to 21.10.0
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added test cases to the latest VB version
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/Tests_Tests.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/GeneralTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/RunAllTests.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/RunAllTests_Logging.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestLog.txt
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestWorkflowTemplate.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowTestCaseTemplate.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added test cases for C# version
  REFramework/VB/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/Tests_Tests.json
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/GeneralTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/RunAllTests.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/RunAllTests_Logging.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/TestLog.txt
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/TestWorkflowTemplate.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/WorkflowTestCaseTemplate.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

UI-49975 - Wrong packages versions for Templates under StudioX
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/VisualBasic/.local/Complete Word Template from Excel and Email.nuget.props
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/1f17783b41af0249a3d4d5763327fa68.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/495f00c30e823fbfc09afffeb54a4158.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/511588ee51512b23d7f545574994e2a7.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/51ac6a49e599c7b9a1300e12d4f708a1.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/9167fb4a242b066c50a343f92c0d0daf.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/9d2e6c60f8c766246e1e13301d86dea6.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/a05cf24a91e6cb83fae0c511db380dc3.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError.html
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/suppliers.xlsx
  EnterExcelDataIntoWebsite/images/icon.png
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Testing.Activities to v1.4.2
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Testing.Activities to v1.4.2 (#84)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Move templates to MobileAutomation 21.10.0
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Move templates to MobileAutomation 21.10.0 (#85)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Renamed GeneralTestCase and added KillAllProcess to variation file
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/Tests_Tests.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/REFrameworkDataDrivenTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Renamed to GenerealTestCase for vb version
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/GeneralTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added KillAllProcesses to list for c#
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/Tests_Tests.json
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Replaced documentation
  REFramework/contentFiles/any/any/pt0/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt1/CSharp/Documentation/REFramework Documentation-EN.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated UiPath.Testing.Activities to version 1.4.2
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated Studio templates from 21.10-preview to 21.10
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated MobileTestingProject to 21.10.0
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
