Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

.pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml:
  stages:
  - stage: Build
    dependsOn: Test
    jobs:
    - template: ../jobs/ci.yml
      parameters:
        projectPath: ${{ variables.projectPath }}
        projectNuspec: ${{ variables.projectNuspec }}

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

remove tests exclusion
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

add template project data
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

add copyright and update tags
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Revert "remove tests exclusion"
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Test Framework Dep and fix Starts in Background
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

fixed non-publishable package and updated packages
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/50_Extraction/Extraction.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/BatchTestingUtilities/CacheDUData.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/BatchTestingUtilities/WriteDataToCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

feat(CommunicationsMiningDispatcher): initial commit (#267)
  CODEOWNERS
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/AdvanceStream.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/CreateQueueItem.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/FetchStream.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetDestinationQueue.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetNextCommunication.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/InitAllSettings.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/LICENSE
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/README.md
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Comments.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Datasets.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/ErrorResponse.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/GetDestinationQueueExpectedHash.txt
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/HashChecker.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Sources.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/Streams.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/TestGetDestinationQueueHasNotChanged.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/TestHeavilyFilteredStream.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/TestStreamWithNoFilter.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/CmTestApiClient.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/Orchestrator.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/TestEnvironment.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Utils/Workflows.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
  CommunicationsMiningDispatcher/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

added the autocorrect testcase to template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Test Framework Dep and fix Starts in Background
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

chore(CmDispatcher): bump activities versions
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

bump nuspec version
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

don't exclude tests
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

chore(CmDispatcher): bump activities versions (#270)
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Pytests corrections and package updates
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_retry_scope.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed the test. It seems the extraction adds a blank space between the number and the -preview line.
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

cliVersion changed in DU-Test.yml
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

chore(cm): bump version numbers
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetNextCommunication.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

feat(CmDispatcher): switch to results api
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/AdvanceStream.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/CreateQueueItem.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetDestinationQueue.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetNextCommunication.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetStreamResults.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/GetDestinationQueueExpectedHash.txt
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Tests/Resources/HashChecker.cs
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

chore(CmDispatcher): add code owners
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

chore(cmdispatcher): bump version number to 24.6.1
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

chore(CmDispatcher): add code owners (#278)
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[fix/mobile_template_24_10_0__for_studio_24_10_0] mobile testing template uses mobileautomation 24.10.0
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Test Framework Dep and fix Starts in Background (#268)
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Test Automation Dependencies
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update packages for Document Understanding template.
  DocumentUnderstandingProcess/Tests/TestDataGeneration/RPATests/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/taxonomy.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/20_Digitization/Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/30_Classification/Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/50_Extraction/Extraction.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

chore(CmDispatcher): bump dependencies and version number to 24.7.1
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Config_Expected.xlsx file, removed Currency.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config_Expected.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Rearrange all the flowcharts in the template
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_4.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Rearrange the flowcharts in the InvoicePostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_4.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fix(CmDispatcher): advance to correct continuation
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/AdvanceStream.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Framework/GetNextCommunication.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
