Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

.pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml:
  stages:
  - stage: Build
    dependsOn: Test
    jobs:
    - template: ../jobs/ci.yml
      parameters:
        projectPath: ${{ variables.projectPath }}
        projectNuspec: ${{ variables.projectNuspec }}

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

Hart initial (#247)
  .gitignore
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/templates.config
  HumanAssistedResolutionTemplate/UiPath.Template.HumanAssistedResolutionTemplate.nuspec
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/.local/template.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Files/HART.pdf
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/Asset.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/StorageBucket.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/TaskCatalog.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/BusinessRuleException_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/CategorizeDocument_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/Exception_AssignedUsersProcess.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/SystemException_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/20_GetTransactionItem.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/30_SelectTemplate.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/40_DataPostProcessing.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/50_EndProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_AbortProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GenerateId.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GenerateKey.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/OrchestratorRequest_GET.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/OrchestratorRequest_POST.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.pdf
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correct activities default name. Change DU Process to HART in the template.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/.local/template.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/30_SelectTemplate.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GenerateId.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

First version of the cross-platform template for DU
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/BlankTemplate.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.project/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.project/design.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.tmh/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/Config.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/ExampleDocuments/MergedDocuments.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/Exports/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/TempFolder/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Main.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added Extractor
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.project/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/Config.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Main.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added Extractor
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/.customtypes/EntitiesBundle_1Fl470glV0l9LHq6uqq459ITIt2ti6W4HSszMLvY8/BundleState.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.project/JitCustomTypes.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.project/JitCustomTypesSchema.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/Config.json.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/35_ClassificationBusinessRuleValidation.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added Extractor
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/DocumentUnderstanding_Template_CrossPlatform.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/install/DocumentUnderstanding_Template_CrossPlatform.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Data/Config.json.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/Main.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/DU_Framework_CrossPlatform/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated Class & Extraction invoke wf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated workflows & testes in serverless mode
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/install/Document Understanding Process.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/agriclime_invoice_121.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

removed sensitive info
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/agriclime_invoice_121.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added functionality to export extracted data to storage bucket & create a queue item which contains the reference to the file.
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/install/Document Understanding Process.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated config.json. Again.
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated config.json. Again. Again.
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added Init, modified ReadConfig, did other small changes.
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/install/Document Understanding Process.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.project/JitCustomTypes.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.project/JitCustomTypesSchema.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed IDD<Invoices>
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fixed some small issues
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/.customtypes/EntitiesBundle_1Fl470glV0l9LHq6uqq459ITIt2ti6W4HSszMLvY8/BundleState.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Set orchestrator folder as a setting, invoice post-processing workflow updated
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/.customtypes/EntitiesBundle_1Fl470glV0l9LHq6uqq459ITIt2ti6W4HSszMLvY8/BundleState.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/.customtypes/EntitiesBundle_JgMiUTXKQOjREycrzMQjKZ6gJQk49zH0Qsh1DeuI/BundleState.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/install/Document Understanding Process.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[stud-64992_sap_testing_project_bundled_with_studio] strings + version change
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed some small issues
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[STUD-64992] make SAP testing project bundled with studio (#249)
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

stuff...
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/.customtypes/EntitiesBundle_1Fl470glV0l9LHq6uqq459ITIt2ti6W4HSszMLvY8/BundleState.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed classify
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed main
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed main
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

added global variables
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/install/CodedWorkflow.cs
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.project/globalVariables.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

added global variables
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

confidence field check added minor bug fixes & enhancements retry scope fixed
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/.project/globalVariables.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated docs and tests
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/UserGuide_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[stud-65961_sap_testing_template_text_fixes] SAP localized texts
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-65961_sap_testing_template_text_fixes] SAP localized texts (#251)
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-66192_mobile_template_23_10_0_preview_for_studio_23_10_preview] UiPath.MobileAutomation.Activities -> 23.10.0-preview, template version -> 23.10.0
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[mobile_template_23_10_1__for_studio_23_10_0] UiPath.MobileAutomation.Activities -> 23.10.0, template version -> 23.10.1
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated Test Automation Framework to 2023.10
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Changed versions for .local
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update packages and add InitializeOrchestrator flow
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/POST/Asset.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/POST/Queue.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/POST/StorageBucket.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/POST/TaskCatalog.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/InitializeOrcestrator/OrchestratorRequest_POST.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Sequence.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated Nuspec
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
