Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

Update project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correction to the reading of the Config file. Update *.nuspec to reflect the next preview release
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Testing: Update to 22.4.3
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Testing: Update to 22.4.3 (#170)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Build: Update mail and presentation packages
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Build: Update mail and presentation packages (#171)
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated templates for 22.4 release
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Update package versions
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit (#173)
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated User Guide, updated project dependencies to the latest version.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Data/Exports/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Data/TempFolder/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correct some typos.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/70_Export.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

added back placeholder files.
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Data/Exports/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Data/TempFolder/placeholder.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Automatic detection of number of decimal points in InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Removed GeneralTestCase from template.json for pt2 Windows Target
  REFramework/contentFiles/any/any/pt2/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update IntelligentOCR package to 6.2.0-preview
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/DocumentProcessing/IntelligentKeywordLearningFile.json.lock08bb4350-04e3-41cb-98d1-f6c871fa4387_20220513102247
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update IntelligentOCR package to 6.2.0-preview (#180)
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/DocumentProcessing/IntelligentKeywordLearningFile.json.lock08bb4350-04e3-41cb-98d1-f6c871fa4387_20220513102247
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add and update test cases for the DU process
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config-Assets.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/CompareClassificationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ConfigFile/ReadConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/CompareDigitizationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/CompareExportResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/CompareExtractionResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ExtractionBusinessRule/ExtractionBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/UserGuide/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/UserGuide/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/UserGuide/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CheckNUSPECversion.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CheckReleaseVersionUserGuide.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CompareProjectToTemplateJson.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CreateAndSaveConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/DataFolderCheck.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/UserGuideReleaseVersion.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/DocumentProcessing/IntelligentKeywordLearningFile.json.lock08bb4350-04e3-41cb-98d1-f6c871fa4387_20220513102247
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update *.nuspec to reflect the 22.10-preview release
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update tests for VB. Add tests on C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config-Assets.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/CompareDigitizationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/UserGuide/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CompareProjectToTemplateJson.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CreateAndSaveConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/DataFolderCheck.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/UserGuide/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/UserGuide/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/UserGuide/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CheckNUSPECversion.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CheckReleaseVersionUserGuide.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CompareProjectToTemplateJson.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CreateAndSaveConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update nuspec version
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Digitization test data + some clean-up
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/DigitizeDocument_MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/DigitizeDocument_MergedDocuments_Text.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CreateAndSaveConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/DigitizeDocument_MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/DigitizeDocument_MergedDocuments_Text.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Correct typos in User Guide
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added UpdateProcessPipelineTemplate and UpdateProcessWithApprovalPipelineTemplate
  .pipelines/azure-pipelines/templates.config
  UpdateProcessFromCodePipeline/UiPath.Template.UpdateProcessFromCodePipeline.nuspec
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/GetProjectSetting.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/GetVersionFromPackagePath.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/bindings.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/bindings_v2.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/project.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/.objects/.type
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/GetProjectSetting.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/GetVersionFromPackagePath.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/bindings.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/bindings_v2.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/project.json
  UpdateProcessWithApprovalPipeline/UiPath.Template.UpdateProcessWithApprovalPipeline.nuspec
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/.local/template.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/.project/design.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/.tmh/config.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/GetProjectSetting.xaml
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/GetVersionFromPackagePath.xaml
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/Main.xaml
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/bindings.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/bindings_v2.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add DU testPipeline
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add DU assets to config file. They were removed by mistake.
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Change UserGuideTestCase and NUSPECversionTestCase tests to not use PDF activities and to use TestDataQueue as input
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CheckReleaseVersionUserGuide.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CheckReleaseVersionUserGuide.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
