Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

automated commit
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated activities with the preview version
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated dependencies Fixed the page range from not being logged in Main-Attended when document processing resulted in exception
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated SetTransactionProgress - RetryScope now has ContinueOnError = True
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Unlocking files for classifier training updated with ContinueOnError = TRUE
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/40_TrainClassifiers.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- added description
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.package/icon.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated for for 22.2-preview: dependencies, template.json and nuspec
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Exports/placeholder.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updating templates for customizable fields
  CreatePowerPointPresentation/images/icon.png
  EnterExcelDataIntoWebsite/images/icon.png
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SplitExcelSheet/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added REFramework with Target=Windows, Upgraded Excel dependency to avoid exceptions while reading Config file.
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/.screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt2/VisualBasic/.tmh/config.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Config.xlsx
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Input/placeholder.txt
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Output/placeholder.txt
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Temp/placeholder.txt
  REFramework/contentFiles/any/any/pt2/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt2/VisualBasic/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CloseAllApplications.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllApplications.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/KillAllProcesses.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/Process.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/RetryCurrentTransaction.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/LICENSE
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/WorkflowTestCaseTemplate.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Changed project dependencies. Tested with Studio 2022.2.0-beta7816
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/Process.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed typo in workflow names and comment activities
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

UI-55518 - Add Built in templates with Customizable fields
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/.package/ms_powerpoint.png
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  AddChartToPowerPointPresentationFromExcel/images/icon.png
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/.package/Outlook 365 - L (1).png
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/images/icon.png
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/.package/gmail.png
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  SaveGMailAttachmentsToGoogleDrive/images/icon.png
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/.package/Outlook 365 - L (1).png
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  SaveOutlook365AttachmentsToSharepointorOneDrive/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added GettingStartedTemplate tag to specific templates
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated REFramework package version to 22.2.1
  .pipelines/azure-pipelines/templates.config
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Test Suite: Update Testing & Mobile to 22.4.0-preview
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Test Suite: Update Testing & Mobile to 22.4.0-preview (#142)
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

UI-56004 - The new Built in templates don't have dynamic / customizable fields
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/.settings/TemplatePropertiesSettings.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/.settings/TemplatePropertiesSettings.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/.settings/TemplatePropertiesSettings.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/.settings/TemplatePropertiesSettings.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/.settings/TemplatePropertiesSettings.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

UI-56004 - The new Built in templates don't have dynamic / customizable fields
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

UI-56004 - The new Built in templates do not have dynamic / customizable fields
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Testing Activities to 22.4.0
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Testing Activities to 22.4.0 (#146)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump Testing.Activities to 22.4.1
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump Testing.Activities to 22.4.1 (#152)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml
