Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml:
  stages:
  - stage: Test
    jobs:
    - template: ../jobs/DU-Test.yml
      parameters:
        projectPath: ${{ variables.projectPath }}\contentFiles\any\any\pt0\VisualBasic
        name: VisualBasic
        orchestratorConnection: TeodoraOr
    - template: ../jobs/DU-Test.yml
      parameters:
  ...

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

Replaced excel activities for MainTestCase PT1.
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/MainTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Replaced excel activities in MainTestCase PT2
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/MainTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

STUD-23741 - Update StudioX templates in order to use default system browser
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.screenshots/2f44c42b90bf9f620ae9211b8324bd33.png
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.screenshots/958e2548f33707605da383ea8b2ee67b.jpg
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/33c51ba0d4a2b34be94d74689f988e93.jpg
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/781eeab913c288a21ecba6512f04c317.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/e1c5f0862a626a2c1ccae3e5701d2ed8.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/f61a8e66a9a9e611420202b97c8bd9ed.png
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated Reframework template package version
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Python tests: FolderStructure tests rewritten, remove some fixtures
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/DataFolderStructure_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/FolderStructure_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/MockFolderStructure_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/ProjectStructure_test_data.yaml
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Python tests: try not to use if statement
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

refactored code
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

automated commit
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  AddChartToPowerPointPresentationFromExcel/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt2/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt3/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt2/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt3/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt2/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Refactor Folder Structure tests and the test data folder
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_project_folder_structure.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/MockFolderStructure_test_input.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/ProjectFolderStructure_test_input.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/DataFolderStructure_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Project_Json_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/UserGuide_test_data.yaml
  DocumentUnderstandingProcess/Tests/conftest.py
  DocumentUnderstandingProcess/Tests/pytest.ini
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

ExportTestCase warning correction
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

-Update PostProcessing Tests to final form -Update .yaml file to work with Tests that modify ExtractionResult
  DocumentUnderstandingProcess/Tests/TestDataGeneration/RPATests/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SubtotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_TotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_TotalTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added TestCases
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransactionItem/NoQueueItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransactionItem/NoSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransactionItem/QueueItemSpecificContentTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Deleted ClassificationBR testcase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

-Update Invoice Tests to run without data variations
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SubtotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_TotalTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update target framework of Download File From Website and Enter Excel Data Into Website templates
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Cleaned config
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

StudioX: Bump template version for DownloadFile and EnterExcelDataIntoWebsite
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

removed data
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/GetTransactionItemTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/NuspecVersionTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/UserGuideTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Exports/doc10_accounting_invoice.png_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-10-05-19-48-997.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-10-06-11-47-117.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-10-06-12-01-802.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-10-06-14-05-004.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-10-06-14-35-463.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-10-05-19-48-997.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-10-06-11-47-117.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-10-06-12-01-802.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-10-06-14-05-004.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-10-06-14-35-463.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-10-05-19-48-997.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-10-06-11-47-117.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-10-06-12-01-802.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-10-06-14-05-004.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-10-06-14-35-463.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/GetTransactionItemTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/NuspecVersionTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/UserGuideTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Converted GetTransactionItem to testcase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/IntelligentKeywordLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added adnotation and fixed warnings in ClassificationBRValidationTestCase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add annotation for in_TargetFile argument
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/20_Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/30_Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update PostProcessing Tests to run without data variations in VB
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SubtotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_TotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_TotalTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Invoice_DateTestCase.xaml update
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_DateTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated gitignore - updated UserGuide - updated constants/conftest - updated python tests - updated python test data - removed project runtime setting folders
  .gitignore
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/ProjectFolderStructure_test_input.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/UserGuide_test_data.yaml
  DocumentUnderstandingProcess/Tests/conftest.py
  DocumentUnderstandingProcess/Tests/constants.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.package/icon.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.objects/.type
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.project/design.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.tmh/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated gitignore - updated UserGuide - updated constants/conftest - updated python tests - updated python test data - removed project runtime setting folders
  .gitignore
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated gitignore
  .gitignore
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

- ups
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- removed extra folders - updated mock constants
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/Tests/constants.py
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added tescases for GetTransactionItem VB and C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoQueueItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/QueueItemSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/mock_config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/GetTransactionItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/NoQueueItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/NoSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/QueueItemSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/CacheDUData.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadClassificationFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadDigitizationFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadExtractionFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/WriteDataToCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- updated template.json - updated project.json for VB
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed mock_config for vb
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/mock_config.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added final C# testcases for GetTransactionItem
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/GetTransactionItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/NoSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/QueueItemSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Started ClassificationBRValidationTestCase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/IntelligentKeywordLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed annotation
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed mock_config - created a TODO
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/mock_config.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update C# Invoice Tests Add SetTransactionStatus.xaml repair namespaces error
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Invoice/DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Invoice/MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Invoice/OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Invoice/SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Invoice/SubtotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Invoice/TotalTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Digitize,Classify and Export test cases on C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/20_Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/30_Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Pipeline settings
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Pipeline settings
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
