Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

UI-49975 - Wrong UIAutomation Activities Version
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated MobileTestingProject to 21.10.0 (#88)
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated ReFramework dependencies for 21.10
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated template.json for ReFramework
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated UiAutomation dependency to 21.10.1
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated project.json dependecies for ReFramework
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated template.json only with FileInfoCollection
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated templates.config to build all tempaltes for Studio
  .pipelines/azure-pipelines/templates.config
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated Studio templates from 21.10-preview to 21.10 (#81)
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update SAP Change Mining to 21.10
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update SAP Change Mining to 21.10 (#90)
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Fixed typo in templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Fixed typo in templates.config (#91)
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- annotation update in IPP - User Guide update - package dependency update
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- trigger the build
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- version naming fix
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Triggered a manual build for DU
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update package description with a warning message
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update package description with a warning message (#97)
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix for release - dependencies & version name
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add CI template for SAP Change Impact Mining
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add CI template for SAP Change Impact Mining (#99)
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fixed WF Analyzer naming convention warnings; updated documentation
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/GeneralTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/GeneralTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/MainTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update SAPTestingProject to 21.10.1 due to invalid package uploaded
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Deleted references.db file from REFramework\VB\.local\db\
  REFramework/VB/.local/db/references.db
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update testing deps for Studio 21.10.1
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated Studio templates for 21.10.1
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update testing deps for Studio 21.10.1 (#101)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated StudioX templates to 21.10.2
  .pipelines/azure-pipelines/templates.config
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Updated Studio templates for 21.10.1 (#102)
  .pipelines/azure-pipelines/templates.config
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Testing Activities to 1.4.3
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update nuspec files
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  REFramework/UiPath.Template.REFramework.nuspec
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Testing Activities to 1.4.3 (#103)
  .pipelines/azure-pipelines/templates.config
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- added apikey in settings
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- added description
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Mobile to 21.10.1
  .pipelines/azure-pipelines/templates.config
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
