Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Change extractor name from ML Extractor to DU Project Extractor
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add System.Drawing & co refs to Reframework
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CloseAllApplications.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllApplications.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/KillAllProcesses.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/Process.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/WorkflowTestCaseTemplate.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/ProcessTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add System.Drawing asmRef to SapChangeTesting template
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt2/VisualBasic/.templates/SAP Change Impact Mining.xaml
  SAPChangeImpactMining/contentFiles/any/any/pt3/CSharp/.templates/SAP Change Impact Mining.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update dependencies for TestFramework to 24.*
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update dependencies for TestFramework to 24.10 (#289)
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

DU Cross-platform template update to 24.10 packages and capabilities
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/install/Document Understanding Process.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.project/JitCustomTypes.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Finish IPP and RPP adaptation for cross-platform
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/Invoice.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/MergedDocuments.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/Receipt.jpg
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/55_ExtractBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correct WorkflowAnalyzer errors
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ERR_HandleDocumentError.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Small corrections after short review + Add AutocorrectOcrMistakes workflow
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

autocorrect ocr mistakes multiple fields support - preview
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/AutocorrectOcrMistakes_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/AutocorrectOcrMistakesSuccess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/AutocorrectMockFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

CrossPlatform:add invoice, certificate of incorporation pdf examples and AutocorrectionLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/AutocorrectionLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/Certificate_of_filing.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/Invoice.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

CrossPlatform cleanup
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/AutocorrectionLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Changed version to preview.
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added additional code owner to REFramework
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

CrossPlatform - changes after testing on Serverless machine
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

CrossPlatform - add placeholder.txt to ExampleDocuments folder
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/ExampleDocuments/placeholder.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update digitize,classify and extract RPA test data.Change UiPath Test package.Update release version.
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated package version to 24.10.1
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Windows VB - update RPA tests
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoQueueItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoSpecificContent.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/QueueItemSpecificContent.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Cross-platform - delete temporary files
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/BlankTemplate.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/DocumentUnderstanding_Template_CrossPlatform.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/dataManagerElementsOrder.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/install/CodedWorkflow.cs
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/install/Document Understanding Process.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/install/DocumentUnderstanding_Template_CrossPlatform.Mapper.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.project/JitCustomTypes.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.project/JitCustomTypesSchema.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.project/globalVariables.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/.tmh/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Cross-platform - add LICENSE and readme.md files
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/LICENSE
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/readme.md
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows VB - add DU_DateFormats as Asset as well Cross-platform - add DU_DateFormats as Asset as well
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows VB - Python test correction
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config_Expected.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

add solution deployment pipeline template
  SolutionDeploymentPipeline/UiPath.Template.SolutionDeploymentPipeline.nuspec
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/.local/template.json
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/BuildToUpdateProcess.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/ComputerRepositoryUrl.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/GetProjectSetting.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml.json
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/ReadSolutionPipelineConfigurationFile.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

chore(CmDispatcher): bump deps 2024-10-04
  CommunicationsMiningDispatcher/UiPath.Template.CommunicationsMiningDispatcher.nuspec
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/.local/template.json
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CommunicationsMiningDispatcher/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Cross-platform: Change folder and storage bucket default names; remove temp activity
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/15_GetTransactionItem.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix: update Solution deployment pipeline template
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SolutionDeploymentPipeline/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix: increment template version
  SolutionDeploymentPipeline/UiPath.Template.SolutionDeploymentPipeline.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Windows: Update packages to the latest official version Cross-platform: Update packages to the latest official version
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Data/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Update Python tests for 24.10 release
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/UserGuide_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Update Python tests for 24.10 release. Update User Guide and activity packages Cross-platform: Update User Guide and activity packages
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Update User Guide Cross-platform: Update User Guide
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt2/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update cliVersion to 'WIN_24.10.9050.17872'
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update task to UiPathInstallPlatform@5
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Windows: Update Digitize test
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml
