Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

update path
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Created new feature of InvoicePostProcessing - added new file InvoicePostProcessing.xaml - Updated Config.xlsx to be able to handle the new IPP - updated project.json with 1.0.0 version
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: azure-pipelines-DocumentUnderstandingProcess.yml

fixed pipelines based on feedback
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Feature/pipelines/new ref pipelines (#23)
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- reverted back some changes for IPP
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
Due: azure-pipelines-DocumentUnderstandingProcess.yml

- reverted back some changes for IPP
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Exports/placeholder.txt
Due: azure-pipelines-DocumentUnderstandingProcess.yml

- reverted back some changes for IPP
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
Due: azure-pipelines-DocumentUnderstandingProcess.yml

Pipeline fix
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Pipeline fix (#24)
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Version update + Tags
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: azure-pipelines-DocumentUnderstandingProcess.yml

Version update + Tags (#27)
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: azure-pipelines-DocumentUnderstandingProcess.yml

Nuspec update 21.6.1-preview - new docs - new title - new description
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: azure-pipelines-DocumentUnderstandingProcess.yml

21.6.2-preview update. Removed localization, forced english.
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: azure-pipelines-DocumentUnderstandingProcess.yml

Update README.md
  README.md
Due: none

Studio: added CompleteWord template
  CompleteWord/UiPath.Template.CompleteWord.nuspec
  CompleteWord/contentFiles/any/any/pt0/.local/template.json
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/CompletedAttachment.docx
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/People.xlsx
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  CompleteWord/contentFiles/any/any/pt0/VisualBasic/WelcomeTemplate.docx
  CompleteWord/images/icon.png
Due: none

Studio: add CreatePowerPointPresentation template
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/.screenshots/81938ea803adaaa746e9b9dbcec5a96a.png
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/.screenshots/ddeae39c1dd7a6a211211b62fa958982.png
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/Opportunities Report Template.xlsx
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/Report Template.pptx
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError.html
  CreatePowerPointPresentation/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  CreatePowerPointPresentation/images/icon.png
Due: none

Studio: add CreateRichHtmlEmail template
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/Email Body.docx
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/EmailTemplate.docx
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/Suppliers.xlsx
  CreateRichHtmlEmail/contentFiles/any/any/pt0/VisualBasic/studiox.png
  CreateRichHtmlEmail/images/icon.png
Due: none

Studio: add DownloadFile template
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.screenshots/16faa2e619f45dc2ae10e3a923f84f97.png
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.screenshots/6ef66ffa34ae19193354017c59baa398.png
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.screenshots/a6f0666cfff274f253b3712110a71082.png
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/.screenshots/dca023dea2e09700403d4ae6768ab50a.png
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  DownloadFile/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  DownloadFile/images/icon.png
Due: none

Studio: add EnterExcelDataIntoWesbsite template
  EnterExcelDataIntoWesbsite/UiPath.Template.EnterExcelDataIntoWesbsite.nuspec
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/1f17783b41af0249a3d4d5763327fa68.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/495f00c30e823fbfc09afffeb54a4158.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/511588ee51512b23d7f545574994e2a7.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/51ac6a49e599c7b9a1300e12d4f708a1.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/9167fb4a242b066c50a343f92c0d0daf.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/9d2e6c60f8c766246e1e13301d86dea6.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/.screenshots/a05cf24a91e6cb83fae0c511db380dc3.png
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError.html
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  EnterExcelDataIntoWesbsite/contentFiles/any/any/pt0/VisualBasic/suppliers.xlsx
  EnterExcelDataIntoWesbsite/images/icon.png
Due: none

Studio: MobileTestingProject template
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/CSharp/TestCase.xaml
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/VisualBasic/TestCase.xaml
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/CSharp/TestCase.xaml
  MobileTestingProject/images/icon.png
Due: none

Studio: add OrchestrationProcess template
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/BusinessProcess/StartBusinessProcessing.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Configuration/Config.xlsx
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Framework/AfterResume.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Framework/BusinessProcess.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Framework/EvaluateTaskAssignmentRule.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Framework/GetTaskBatches.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Framework/InitConfig.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Framework/TasksAssignment.xaml
  OrchestrationProcess/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/BusinessProcess/StartBusinessProcessing.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Configuration/Config.xlsx
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/AfterResume.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/BusinessProcess.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/EvaluateTaskAssignmentRule.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/GetTaskBatches.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/InitAssignmentConfig.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/InitConfig.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Framework/TasksAssignment.xaml
  OrchestrationProcess/contentFiles/any/any/pt1/CSharp/Main.xaml
  OrchestrationProcess/images/icon.png
Due: none

Studio: add SaveOutlookAttachments template
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  SaveOutlookAttachments/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  SaveOutlookAttachments/images/icon.png
Due: none

Studio: add SplitExcelSheet template
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/GlobalHandlerX.xaml
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/InputData.xlsx
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/OutputTemplate.xlsx
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/Project_Notebook.xlsx
  SplitExcelSheet/contentFiles/any/any/pt0/VisualBasic/RuntimeExecutionError_Template.html
  SplitExcelSheet/images/icon.png
Due: none

Studio: add TransactionalProcess template
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/CSharp/Main.xaml
  TransactionalProcess/images/icon.png
Due: none

Studio: add TriggerBasedAttendedAutomation template
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/CSharp/Main.xaml
  TriggerBasedAttendedAutomation/images/icon.png
Due: none

added a dummy .yml to create a new pipeline
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

selected the vmImage for the generic pipeline
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

testing the git diff-tree functionality
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

testing nuget pack step
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
  DocumentUnderstandingProcess/dummyfile.txt
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

testing nuget pack step
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
  BackgroundProcess/dummyfile.txt
  DocumentUnderstandingProcess/dummyfile.txt
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

added the templates.config file
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

modified DocumentUnderstanding
  DocumentUnderstandingProcess/dummyfile.txt
Due: azure-pipelines-DocumentUnderstandingProcess.yml

modified DocumentUnderstanding template
  DocumentUnderstandingProcess/dummyfile.txt
Due: azure-pipelines-DocumentUnderstandingProcess.yml

second pr commit
  DocumentUnderstandingProcess/dummyfile.txt
Due: azure-pipelines-DocumentUnderstandingProcess.yml

fourth pr commit
  DocumentUnderstandingProcess/dummyfile.txt
Due: azure-pipelines-DocumentUnderstandingProcess.yml

Studio: added pipeline configuration scripts
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Create ChangeImpactAnalysis template
  ChangeImpactAnalysisTemplate/UiPath.Template.TestAutomationWithCIAProject.nuspec
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt0/.local/template.json
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt0/VisualBasic/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt1/.local/template.json
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt1/CSharp/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt2/.local/template.json
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt2/VisualBasic/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt3/.local/template.json
  ChangeImpactAnalysisTemplate/contentFiles/any/any/pt3/CSharp/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysisTemplate/images/icon.png
Due: none

Change codeowners document
  CODEOWNERS
Due: none

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
