Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Updated versions to 23.4
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed CSharp constant issue
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Removed constant from CSharp
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed Log name typo
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated versions to 23.4 (#241)
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update pipelines config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update 23.4 versions
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added new pipeline templates
  BuildAndPromoteWithApprovalPipeline/UiPath.Template.BuildAndPromoteWithApprovalPipeline.nuspec
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/GetProjectSetting.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/bindings.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/bindings_v2.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/project.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/.objects/.type
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/GetProjectSetting.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/SnippetsTests.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/bindings.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/bindings_v2.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/project.json
  UpdateProcessFromCodePipeline/UiPath.Template.UpdateProcessFromCodePipeline.nuspec
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/JitCustomTypes.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/GetVersionFromPackagePath.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/GetVersionFromPackagePath.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  UpdateProcessWithApprovalPipeline/UiPath.Template.UpdateProcessWithApprovalPipeline.nuspec
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/.project/design.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/.tmh/config.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/GetProjectSetting.xaml
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/GetVersionFromPackagePath.xaml
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/Main.xaml
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/bindings.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/bindings_v2.json
  UpdateProcessWithApprovalPipeline/contentFiles/any/any/pt0/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated InitAllAssets and LogMessages
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/dataManagerElementsOrder.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/dataManagerElementsOrder.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/install/UiPath_REFramework.Mapper.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/globalVariables.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/Data/Assets.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CloseAllApplications.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllApplications.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllAssets.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/KillAllProcesses.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/Process.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/RetryCurrentTransaction.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/GetTransactionDataTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated the Pipeline templates
  BuildAndPromoteWithApprovalPipeline/UiPath.Template.BuildAndPromoteWithApprovalPipeline.nuspec
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/project.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/project.json
  UpdateProcessFromCodePipeline/UiPath.Template.UpdateProcessFromCodePipeline.nuspec
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated the pipeline templates
  BuildAndPromoteWithApprovalPipeline/UiPath.Template.BuildAndPromoteWithApprovalPipeline.nuspec
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/.local/template.json
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  UpdateProcessFromCodePipeline/UiPath.Template.UpdateProcessFromCodePipeline.nuspec
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/.local/template.json
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix Main.xaml for pipeline templates
  BuildAndPromoteWithApprovalPipeline/contentFiles/any/any/pt1/CSharp/Main.xaml
  UpdateProcessFromCodePipeline/contentFiles/any/any/pt0/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Autocorrect OCR mistakes - Added to main attended + small names and annotation changes
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Autocorrect OCR mistakes - Success test case
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/AutocorrectOcrMistakes_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/mock_config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/AutocorrectOcrMistakesSuccess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/AutocorrectMockFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction - AutocorrectOcrMistakes.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Removed the System.Activities.DynamicUpdate namespace from Windows Trigger Based Attended Automations templates
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt3/CSharp/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

updated pytest requirements and conftest to new pypdf
  DocumentUnderstandingProcess/Tests/conftest.py
  DocumentUnderstandingProcess/Tests/requirements.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated project packages.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated mock tests
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/MockFolderStructure_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/AutocorrectOcrMistakes_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/mock_config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added the main form template.
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/finalForm.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.docx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added details regarding the new form template to the user guide.
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/CategorizeDocument_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/20_GetTransactionItem.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.docx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added parameter descriptions.
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/.local/template.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.docx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Modified diagrams from the user guide
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.docx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-64842_create_execution_template_for_xbrowser_tests] placeholder icon + .nuspec file
  CrossBrowserTesting/UiPath.Template.CrossBrowserTesting.nuspec
  CrossBrowserTesting/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-64842_create_execution_template_for_xbrowser_tests] cleanup
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.objects/.type
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.project/design.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.tmh/config.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.objects/.metadata
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.objects/.type
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.tmh/config.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.objects/.metadata
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.objects/.type
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.project/PackageBindingsMetadata.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.project/design.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/0a15fa4c13aca616bb38ddf6e5a9fa3b.jpg
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/1244db4c209d50020d7e00afcd12ccf6.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/1883c36856502e26e5f35371167598a8.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/3b7cdf1309ea6ecb4caa702f81563380.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/543353f5d687a54268f98e73ff46b82e.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/5b7cd288e0392eb04cb8e030ece8c301.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/6c56c909c5c24178e06da7aafe5e331e.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/6f8fd82c827b2e02efa048a5ec507879.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/cea3a1d712735bc0e2b5e772e6fe7ab7.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/dea6483fbc0ac5ca2bb5747a9287356c.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.screenshots/fa8d3aad8b68430480861d3fb0365bf4.png
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.tmh/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Converted the user guide to pdf.
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.docx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-64842_create_execution_template_for_xbrowser_tests] fixes
  CrossBrowserTesting/UiPath.Template.CrossBrowserTesting.nuspec
  CrossBrowserTesting/contentFiles/any/any/pt0/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/project.json
  CrossBrowserTesting/contentFiles/any/any/pt1/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/project.json
  CrossBrowserTesting/contentFiles/any/any/pt2/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/project.json
  CrossBrowserTesting/contentFiles/any/any/pt3/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[stud-64842_create_execution_template_for_xbrowser_tests] removing placeholder icon
  CrossBrowserTesting/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Autocorrect OCR mistakes - updated to save multiple corrected values from HitL
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/taxonomy.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/AutocorrectOcrMistakes_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/mock_config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/AutocorrectOcrMistakesSuccess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/AutocorrectMockFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction - AutocorrectOcrMistakes.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction - AutocorrectOcrMistakes.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[stud-64842_create_execution_template_for_xbrowser_tests] adding icon
  CrossBrowserTesting/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

updated Tests to 23.4
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/UserGuide_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[stud-64842_create_execution_template_for_xbrowser_tests] icon for MobileTestProject
  MobileTestingProject/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Autocorrect OCR mistakes - updated annotations, caches and user guide
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/AutocorrectOcrMistakes_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/AutocorrectOcrMistakesSuccess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config_Expected.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated Export TestCase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/Export.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated user guide
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated python tests as well
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config_Expected.xlsx
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[STUD-64842] create execution template for cross-browser tests (#248)
  CrossBrowserTesting/UiPath.Template.CrossBrowserTesting.nuspec
  CrossBrowserTesting/contentFiles/any/any/pt0/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.templates/CrossBrowserTesting_CustomBrowsers_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.templates/CrossBrowserTesting_ExecutionTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.templates/CrossBrowserTesting_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.variations/CrossBrowserTesting_ClassicBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.variations/CrossBrowserTesting_CustomBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  CrossBrowserTesting/contentFiles/any/any/pt1/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.templates/CrossBrowserTesting_CustomBrowsers_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.templates/CrossBrowserTesting_ExecutionTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.templates/CrossBrowserTesting_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.variations/CrossBrowserTesting_ClassicBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.variations/CrossBrowserTesting_CustomBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt1/CSharp/.variations/config.json
  CrossBrowserTesting/contentFiles/any/any/pt2/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.templates/CrossBrowserTesting_CustomBrowsers_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.templates/CrossBrowserTesting_ExecutionTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.templates/CrossBrowserTesting_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.variations/CrossBrowserTesting_ClassicBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.variations/CrossBrowserTesting_CustomBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt2/VisualBasic/.variations/config.json
  CrossBrowserTesting/contentFiles/any/any/pt3/.local/template.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.templates/CrossBrowserTesting_CustomBrowsers_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.templates/CrossBrowserTesting_ExecutionTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.templates/CrossBrowserTesting_TestCaseTemplate.xaml
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.variations/CrossBrowserTesting_ClassicBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.variations/CrossBrowserTesting_CustomBrowsers.json
  CrossBrowserTesting/contentFiles/any/any/pt3/CSharp/.variations/config.json
  CrossBrowserTesting/images/icon.png
  MobileTestingProject/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

updated nuspec
  HumanAssistedResolutionTemplate/UiPath.Template.HumanAssistedResolutionTemplate.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Hart initial (#247)
  .gitignore
  HumanAssistedResolutionTemplate/UiPath.Template.HumanAssistedResolutionTemplate.nuspec
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/.local/template.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Files/HART.pdf
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/Asset.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/StorageBucket.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/HttpRequest/TaskCatalog.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/BusinessRuleException_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/CategorizeDocument_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/Exception_AssignedUsersProcess.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Templates/SystemException_ProcessName.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/20_GetTransactionItem.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/30_SelectTemplate.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/40_DataPostProcessing.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/50_EndProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_AbortProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GenerateId.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GenerateKey.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/OrchestratorRequest_GET.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/OrchestratorRequest_POST.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.pdf
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml
