Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

update codeowners
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Rename the root folder to ChangeImpactAnalysis
  ChangeImpactAnalysis/UiPath.Template.TestAutomationWithCIAProject.nuspec
  ChangeImpactAnalysis/contentFiles/any/any/pt0/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt0/VisualBasic/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt1/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt1/CSharp/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt2/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt2/VisualBasic/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysis/contentFiles/any/any/pt3/.local/template.json
  ChangeImpactAnalysis/contentFiles/any/any/pt3/CSharp/.templates/SAP Change Impact Analysis Template.xaml
  ChangeImpactAnalysis/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

ML Extractor Trainer with AI Center integration (Auto Training loop)
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated annotation for the ML Extractor Trainer
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated annotations for all arguments and variables
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GetWritePermission.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GiveUpWritePermission.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/LockFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/UnlockFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: added codeowners for all templates
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Yaml Config added
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Assets.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Constants.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Settings.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/05_ReadYamlConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Json Config File
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Assets.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Assets.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Constants.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Constants.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Settings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Settings.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/05_ReadYamlConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Added the shouldGetTemplatesFromConfig parameter in the .yml file
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

modified .yml to trigger builds for any PR
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Initialize Assets Bugfix
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Created a workflow for pipeline builds on PRs
  .github/workflows/main.yml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

lowercased azure/pipelines@v1
  .github/workflows/main.yml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

added a dummy file to test the pr trigger
  BackgroundProcess/dummyFile.txt
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated the pipeline scripts to have the option of reading from the config file
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated templates.config to build all default Studio templates
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated the git diff-tree command
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated the powershell script to display the pr source branch and target branch
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

modified BackgroundProcess to test the pr pipeline
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

updated BackgroundProcess template
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

updated BackgroundProcess template version
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Studio: Updated pipeline scripts to get verify PR differences
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

replaced environment variables with arguments
  .pipelines/azure-pipelines/DecideTemplatesToPack.ps1
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

updated the templates.config to trigger a manual build of the Mobile Testing Project template
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Studio: Added the UiPathStudioProfileRestrictedStudioPro tag to Mobile Testing Project
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Invoice Post Processing update for DU Template
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/IntelligentKeywordLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/taxonomy.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBussinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated annotations.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBussinessRuleValidation.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Standardized annotations
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated the rest of the annotations.
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/80_EndProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_AbortProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ERR_HandleDocumentError.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GetWritePermission.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/GiveUpWritePermission.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/LockFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/UnlockFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed small bugs
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed another small bug
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed another small bug
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBussinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBussinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Added two s-es
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Small cosmetic improvements
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBussinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBussinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated REFramework documentation.
  REFramework/contentFiles/any/any/pt0/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt1/CSharp/Documentation/REFramework Documentation-EN.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml
