Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Updated Main arrows for REFramework legacy C#.
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/config.json
  REFramework/contentFiles/any/any/pt1/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fixed main arrows for REFramework Legacy VB.
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated the activities where expression appeared as string in designer.
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/config.json
  REFramework/contentFiles/any/any/pt1/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

- updated Nuspec_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

fixed InitAllSettings get asset
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

- excluded pt1
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- excluded pt1 for realiz
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- release notes updated
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/UserGuide/Document Understanding Process - User Guide.pdf
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/UserGuide/Document Understanding Process - User Guide.pdf
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added .local/ProjectSettings.json to display expressions correctly
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated tests in template.json; nuspec -> 20.10.1
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[DU] 22.10.1 Tests Fix (#221)
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated Project Settings for GetTransactionData and SetTransactionStatus
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

removed .local, .project, .screenshots and .tmh
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt2/VisualBasic/.tmh/config.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Changed AssetValue datatype to Object, removed redundant files.
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  REFramework/contentFiles/any/any/pt1/CSharp/.objects/.type
  REFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  REFramework/contentFiles/any/any/pt1/CSharp/.tmh/config.json
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/Tests_Tests.json
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/config.json
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/InitAllSettings.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Changed AssetName type to Object in pt0, removed redundant folders from pt0, removed incorrect repository from readme files for all reframework versions
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/Tests_Tests.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

- modified some lines
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[Pytest] Add test case ID from Test Manager. Add two more tests: start in background and support persistence.
  DocumentUnderstandingProcess/Tests/PythonTests/Annotations/test_annotations_values.py
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_project_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[Pytest] Add test for template.json field FileInfoCollection
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Patch for In argument + Test fixes
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix/du/22.10.2 argument (#224)
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataVariation/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[Pytest] Small change to the annotations test
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_Date.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_MandatoryFields.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_OtherFieldsConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_SpecificFieldConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_Subtotal.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_Total.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_Date.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_MandatoryFields.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_OtherFieldsConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_SpecificFieldConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_Total.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[Pytest] Rewrite the test_mock_folder_structure.py to support a dynamic search of the mock files
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[Pytest] Write first version of the test_arguments_direction.py, add annotation test input data file path to constants, change Annotations folder name to ArgumentsVariables
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/test_annotations_values.py
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/test_arguments_direction.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/ArgumentsDirection_test_input.yaml
  DocumentUnderstandingProcess/Tests/constants.py
  DocumentUnderstandingProcess/Tests/pytest.ini
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

[Pytest] Write first version of the test_retry_scope.py, make get_absolute_filenames a fixture
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/test_annotations_values.py
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/test_arguments_direction.py
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_retry_scope.py
  DocumentUnderstandingProcess/Tests/conftest.py
  DocumentUnderstandingProcess/Tests/pytest.ini
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fixed the fixture duplication in conftest.py (ACTV-16750)
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/test_annotations_values.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

automated commit
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

[Pytest] Change some functions as fixtures and update the retry scope test. Rewrite the arguments direction test. Typos in the test_template_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/ArgumentsVariables/test_arguments_direction.py
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_retry_scope.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Updated pytest_generate_tests hook - Removed the return_test_data_location function, instead opted for constants in the conftest file
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated the activities where expression appeared as string in designer.
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt1/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  REFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  REFramework/contentFiles/any/any/pt1/CSharp/.variations/config.json
  REFramework/contentFiles/any/any/pt1/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/project.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/PackageCache.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/nuget.cache
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/PackageBindingsMetadata.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.project/design.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml
