Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

.pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml:
  jobs:
  - template: ../jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

.pipelines/azure-pipelines/azure-pipelines-Templates.yml:
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install nuget
    - ${{if eq(variables['Build.Reason'],'PullRequest')}}:
      - task: PowerShell@2
        inputs:
          targetType: filePath
  ...

.pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml:
  stages:
  - stage: Build
    dependsOn: Test
    jobs:
    - template: ../jobs/ci.yml
      parameters:
        projectPath: ${{ variables.projectPath }}
        projectNuspec: ${{ variables.projectNuspec }}

azure-pipelines-DocumentUnderstandingProcess.yml:
  jobs:
  - template: .pipelines/jobs/ci.yml
    parameters:
      projectPath: ${{ variables.projectPath }}
      projectNuspec: ${{ variables.projectNuspec }}

TestAutomationFramework: align pt1, pt2 and pt3 with the pt0 baseline
  TestAutomationFramework/CLAUDE.md
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
  TestAutomationFramework/contentFiles/any/any/pt2/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt3/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

TestAutomationFramework: drop the phantom Main.xaml and platform names
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.uiproj
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.uiproj
  TestAutomationFramework/contentFiles/any/any/pt2/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/project.uiproj
  TestAutomationFramework/contentFiles/any/any/pt3/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/project.json
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/project.uiproj
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

DU Process template: pin IntelligentOCR 7.6 and DU.Activities 3.6 alphas
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/TaxonomyBusinessRuleBroken.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

DU Process template: use Regex for the sample total rules
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/taxonomy.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

DU Process template (cross-platform): export documents without table fields
  DocumentUnderstandingProcess/contentFiles/any/any/pt3/VisualBasic/Framework/70_Export.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

DU Process template: describe extractor training as sent to the DU project
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/60_TrainExtractors.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

REFramework: remove the exception screenshot from the cross-platform variants
  REFramework/contentFiles/any/any/pt4/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Config.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Exceptions_Screenshots/.gitignore
  REFramework/contentFiles/any/any/pt4/VisualBasic/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/NTakeScreenshot_Coded.cs
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/NTakeScreenshot_Coded.cs.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/entry-points.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/Data/Config.json
  REFramework/contentFiles/any/any/pt5/CSharp/Exceptions_Screenshots/.gitignore
  REFramework/contentFiles/any/any/pt5/CSharp/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/NTakeScreenshot_Coded.cs
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/NTakeScreenshot_Coded.cs.json
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: let the user pick the .NET version; agent guide under Framework/; 26.10.1-preview4
  CLAUDE.md
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt5/.local/template.json
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: concise agent guide with the current facts; CLAUDE.md imports AGENTS.md
  CLAUDE.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/CLAUDE.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: drop the Troubleshooting section from Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: AGENTS.md/CLAUDE.md as a how-to-build playbook, all variants
  REFramework/contentFiles/any/any/pt0/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: queue picked on Get Transaction Item, ConfigSections rename; 26.10.1-preview3
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Main.xaml.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Main.xaml.json
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Config.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/Data/Config.json
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: package version 26.10.1
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: set foreground mode where Studio reads it; 26.10.1-preview2
  CLAUDE.md
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt5/.local/template.json
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: drop the removed GetAppCredential workflow from the READMEs
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: DotNetVersion Net10 in every variant's template.json
  CLAUDE.md
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt5/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: remove the Documentation PDFs from every variant
  REFramework/contentFiles/any/any/pt0/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/CSharp/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/README.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Documentation/REFramework Documentation (EN).pdf
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt5/CSharp/Documentation/REFramework Documentation (EN).pdf
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add TaskAutomations template (Windows + cross-platform, VB + C#)
  TaskAutomations/UiPath.Template.TaskAutomations.nuspec
  TaskAutomations/contentFiles/any/any/pt0/.local/template.json
  TaskAutomations/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  TaskAutomations/contentFiles/any/any/pt1/.local/template.json
  TaskAutomations/contentFiles/any/any/pt1/CSharp/Main.xaml
  TaskAutomations/contentFiles/any/any/pt2/.local/template.json
  TaskAutomations/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  TaskAutomations/contentFiles/any/any/pt3/.local/template.json
  TaskAutomations/contentFiles/any/any/pt3/CSharp/Main.xaml
  TaskAutomations/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

TaskAutomations: coded workflow Main.cs as the entry point
  TaskAutomations/contentFiles/any/any/pt0/.local/template.json
  TaskAutomations/contentFiles/any/any/pt0/VisualBasic/Main.cs
  TaskAutomations/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  TaskAutomations/contentFiles/any/any/pt1/.local/template.json
  TaskAutomations/contentFiles/any/any/pt1/CSharp/Main.cs
  TaskAutomations/contentFiles/any/any/pt1/CSharp/Main.xaml
  TaskAutomations/contentFiles/any/any/pt2/.local/template.json
  TaskAutomations/contentFiles/any/any/pt2/VisualBasic/Main.cs
  TaskAutomations/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  TaskAutomations/contentFiles/any/any/pt3/.local/template.json
  TaskAutomations/contentFiles/any/any/pt3/CSharp/Main.cs
  TaskAutomations/contentFiles/any/any/pt3/CSharp/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add TaskAutomations template (Windows + cross-platform, VB + C#) [PILOT-8471] (#335)
  TaskAutomations/UiPath.Template.TaskAutomations.nuspec
  TaskAutomations/contentFiles/any/any/pt0/.local/template.json
  TaskAutomations/contentFiles/any/any/pt0/VisualBasic/Main.cs
  TaskAutomations/contentFiles/any/any/pt1/.local/template.json
  TaskAutomations/contentFiles/any/any/pt1/CSharp/Main.cs
  TaskAutomations/contentFiles/any/any/pt2/.local/template.json
  TaskAutomations/contentFiles/any/any/pt2/VisualBasic/Main.cs
  TaskAutomations/contentFiles/any/any/pt3/.local/template.json
  TaskAutomations/contentFiles/any/any/pt3/CSharp/Main.cs
  TaskAutomations/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml
