Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Changed Orchestrator initialization logic. Small changes in SelectTemplate.xaml and DataPostProcessing.xaml.
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/30_SelectTemplate.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/40_DataPostProcessing.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

update templates.config
  .pipelines/azure-pipelines/templates.config
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fixed OrchestrationProcess template using the migrator
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/BusinessProcess/StartBusinessProcessing.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Framework/AfterResume.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Framework/BusinessProcess.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Framework/EvaluateTaskAssignmentRule.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Framework/GetTaskBatches.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Framework/InitConfig.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Framework/TasksAssignment.xaml
  OrchestrationProcess/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/BusinessProcess/StartBusinessProcessing.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/AfterResume.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/BusinessProcess.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/EvaluateTaskAssignmentRule.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/GetTaskBatches.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/InitAssignmentConfig.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/InitConfig.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Framework/TasksAssignment.xaml
  OrchestrationProcess/contentFiles/any/any/pt3/CSharp/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Revert TargetFramework for AttendedAutomationFramework template
  AttendedAutomationFramework/UiPath.Template.AttendedAutomationFramework.nuspec
  AttendedAutomationFramework/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated packages to 23.4. Added the user guide.
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/.local/template.json
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/00_ReadConfigFile.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/10_InitializeProcess.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Framework/20_GetTransactionItem.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/InitializeOrchestrator.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/User Guide/Human Assisted Resolution Process - User Guide.docx
  HumanAssistedResolutionTemplate/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added C# Windows REFramework project.
  REFramework/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt3/CSharp/Data/Config.xlsx
  REFramework/contentFiles/any/any/pt3/CSharp/Data/Input/placeholder.txt
  REFramework/contentFiles/any/any/pt3/CSharp/Data/Output/placeholder.txt
  REFramework/contentFiles/any/any/pt3/CSharp/Data/Temp/placeholder.txt
  REFramework/contentFiles/any/any/pt3/CSharp/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt3/CSharp/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/CloseAllApplications.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/InitAllApplications.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/KillAllProcesses.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/Process.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/RetryCurrentTransaction.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/LICENSE
  REFramework/contentFiles/any/any/pt3/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/WorkflowTestCaseTemplate.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added assets configuration for C#
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add InitAssets
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAssetsJson.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added annotations and improved descriptions for Visual Basic
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update files and Add pipeline
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update SAP Testing Project icon to match other testing projects (#234)
  SAPChangeImpactMining/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added CSharp version
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/TestAutomationFramework.nuget.props
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/generated/Generated - TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.objects/.metadata
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.objects/.type
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.tmh/config.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added REFramework Cross Platform-VB Configuration
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Config.xlsx
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Input/placeholder.txt
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Output/placeholder.txt
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Temp/placeholder.txt
  REFramework/contentFiles/any/any/pt4/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt4/VisualBasic/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CloseAllApplications.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/InitAllApplications.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/KillAllProcesses.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/Process.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/RetryCurrentTransaction.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/LICENSE
  REFramework/contentFiles/any/any/pt4/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/GetTransactionDataTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/InitAllApplicationsTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/InitAllSettingsTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/ProcessTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/Tests.xlsx
  REFramework/contentFiles/any/any/pt4/VisualBasic/Tests/WorkflowTestCaseTemplate.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add testing framework for VB project
  .gitignore
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.objects/.metadata
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.objects/.type
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.tmh/config.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add icon
  TestAutomationFramework/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix CI
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Changed template details
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Improved Get Asset
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/KillAllProcesses.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix Version
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Icon and fix typo
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed Workflow Analyzer info output
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/TakeScreenshot.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Remove C# .local Remove TestTemplate Remove Dedicated Pipeline
  .gitignore
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/TestAutomationFramework.nuget.props
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/generated/Generated - TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added Code Owners for Test Framework (#232)
  CODEOWNERS
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix Image
  TestAutomationFramework/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix Typos and sync projects
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added Data folder
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Data/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Data/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix Nuspec version
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fixed Assets and improved C# version for WA and descriptions
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestCase.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Code review Updates
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/TakeScreenshot.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/KillAllProcesses.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/TakeScreenshot.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Updated transaction reason to contain exception source for system exceptions.
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/SetTransactionStatus.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Autocorrect OCR mistakes - pending C# version & guide update
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/AutocorrectOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/CheckCommonOcrMistakes.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml
