Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Made cleanup
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update DU Pipeline to run windows projects with dev CLI
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added BRexception
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added BRexception
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Started test case
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransaction/GetTransactionItemTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Restored 30_Classify
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/30_Classify.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Improved testcase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransaction/GetTransactionItemTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added first version of the test case
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/GetTransactionItemTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/NuspecVersionTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/UserGuideTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ClassifyFullDocument_MergedDocuments.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GetTransaction/GetTransactionItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/GetTransactionItemTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/NuspecVersionTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/UserGuideTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add expected results to data variation
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Temp commit
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/DigitizeDocument_MergedDocuments_Text.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/DigitizeDocument_MergedDocuments_Text.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update digitize test file
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/DigitizeDocument_MergedDocuments_Text.txt
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/DigitizeDocument_MergedDocuments_Text.txt
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove the Git PR testcases
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

automated commit
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Replace line ending in digitize text file
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Extraction/ExtractionTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

isTemplate is True in project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update the DUTestDataGenerator.py
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Few PR corrections
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add pipeline and tests for DUProcess (#194)
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Pytest integration
  .gitignore
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/Tests/pytest.ini
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Pytest integration
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

First try at fixtures
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add first pytests
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_data.json
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_data.json
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/config.py
  DocumentUnderstandingProcess/Tests/conftest.py
  DocumentUnderstandingProcess/Tests/pytest.ini
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Finished test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/55_ExtractionBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/ReusableWorkflows/ReceiptPostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-Attended.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Added constants.py - Added __init__.py to all packages - updated TestCases to use constants.py - updated TestCases to use different classes for VB/Csharp
  DocumentUnderstandingProcess/Tests/PythonTests/Config/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/TemplateJson/test_template_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/PythonTests/__init__.py
  DocumentUnderstandingProcess/Tests/PythonTests/constants.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- space
  DocumentUnderstandingProcess/Tests/PythonTests/constants.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- minor fixes, typos - I think we should change something here, not sure what yet
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add expected results data file for test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/expected_data.yaml
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- cleaned up the code - added a todo to resolve the code duplication
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/expected_data.yaml
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/DocumentUnderstandingTestData.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed init
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- added init.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/__init__.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added BrValidationTestCaase and yaml
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Change folder structure. Add test data in *.yaml file
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_data.json
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_data.json
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/FolderStructure_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/Nuspec_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/UserGuide_test_data.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/RPATests/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/Tests/config.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Write test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/constants.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Some code cleanup and a very ugly solution for data driven testing
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/PythonTests/constants.py
  DocumentUnderstandingProcess/Tests/conftest.py
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml
