Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Update cached digitize, classify, extract and export results in VB Small change to LoadDigitizationFromCache.xaml in VB
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/BatchTestingUtilities/LoadDigitizationFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update cached files in C# Add description comment to Digitize,Clasify and Export test cases in VB and C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/DocumentProcessing/IntelligentKeywordLearningFile.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/20_Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/30_Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/20_Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/30_Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ClassifyDocument_MergedDocuments_1.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ClassifyDocument_MergedDocuments_2.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ClassifyDocument_MergedDocuments_3.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ClassifyDocument_MergedDocuments_4.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ClassifyFullDocument_MergedDocuments.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/Config_Expected.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/DigitizeDocument_MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExportMergedDocuments_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExportMergedDocuments_2-2.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExportMergedDocuments_3-3.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExportMergedDocuments_4-4.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExtractionDocument_MergedDocuments_1.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExtractionDocument_MergedDocuments_2.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExtractionDocument_MergedDocuments_3.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/ExtractionDocument_MergedDocuments_4.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_1-1_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_2-2_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_3-3_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_4-4_Extraction.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_CResArray.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_DOM.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/MergedDocuments_DocText.txt
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Small corrections to the Export test case. Add end-to-end test cases Main-AttendedTestCase and Main-ActionCenterTestCase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Main-ActionCenterTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Main-AttendedTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update triggers
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added migrated tescases
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/BatchTestingUtilities/CacheDUData.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/CacheDUData.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/WriteDataToCache.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Removed package
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/BatchTestingUtilities/CacheDUData.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/CacheDUData.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add python tests to DU Pipeline
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
  DocumentUnderstandingProcess/Tests/requirements.txt
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix Pipeline
  .pipelines/jobs/DU-Test.yml
  DocumentUnderstandingProcess/Tests/requirements.txt
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added BatchTestingUtilities C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/CacheDUData.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadClassificationFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadDigitizationFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadExtractionFromCache.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Fix Pipeline
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/jobs/DU-Test.yml
  DocumentUnderstandingProcess/Tests/requirements.txt
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Digitize, Classify, Export test cases
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/20_Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/30_Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/BatchTestingUtilities/LoadDigitizationFromCache.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- pep8 fixes
  DocumentUnderstandingProcess/Tests/PythonTests/Config/test_config.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_data_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_mock_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/FolderStructure/test_project_folder_structure.py
  DocumentUnderstandingProcess/Tests/PythonTests/Nuspec/test_nuspec.py
  DocumentUnderstandingProcess/Tests/PythonTests/ProjectJson/test_project_json.py
  DocumentUnderstandingProcess/Tests/PythonTests/UserGuide/test_user_guide.py
  DocumentUnderstandingProcess/Tests/conftest.py
  DocumentUnderstandingProcess/Tests/constants.py
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed dependencies - fixed entry point Main
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Start VM
  .pipelines/jobs/DU-Test.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Pipeline and test to use "VB" and "CSharp"
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
  DocumentUnderstandingProcess/Tests/constants.py
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Make DigitizeTestCase, ClassifyTestCase, ExportTestCase test cases Small correction in Export test cases
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update C# Receipt Tests Update to 55_ExtractionValidation structure
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice/Invoice_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice/Invoice_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice/Invoice_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice/Invoice_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice/Invoice_SubtotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice/Invoice_TotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt/Receipt_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt/Receipt_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt/Receipt_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt/Receipt_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt/Receipt_TotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Receipt/DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Receipt/MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Receipt/OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Receipt/SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/PostProcessing/Receipt/TotalTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update pipeline filters
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

project.json C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed issues with project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Removed unused variables in 15_GetTransactionItem
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Mocks/Framework/15_GetTransactionItem_mock.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- removed System.Activities.DynamicUpdate namespace
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/00_ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/10_InitializeProcess.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/20_Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/40_TrainClassifiers.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/50_Extract.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/60_TrainExtractors.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/70_Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/GetWritePermission.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/GiveUpWritePermission.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/InvoicePostProcessing.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/LockFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/SetTransactionProgress.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/SetTransactionStatus.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Framework/ReusableWorkflows/UnlockFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Main-Attended.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/15_GetTransactionItem_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/15_GetTransactionItem_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_1.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_2.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_3.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_4.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/InvoicePostProcessing_mock_5.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Mocks/Framework/ReusableWorkflows/ReceiptPostProcessing_mock.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- fixed project.json - updated template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- added StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Add test description VB
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoQueueItemTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/QueueItemSpecificContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/20_Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/30_Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/50_Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_SubtotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_TotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_DateTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_OtherFieldsConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_SpecificFieldConfidenceTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_TotalTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Change variable naming from dt_export to dtExport
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Modified StandardAnnotations
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- removed GetTransactionItem Variation
  DocumentUnderstandingProcess/Tests/TestDataGeneration/RPATests/DocumentUnderstandingTestData.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added in_ClassificationResultConfidence and in_ExpectedResult
  DocumentUnderstandingProcess/Tests/TestDataGeneration/PythonTests/TestDataInput/StandardAnnotations_test_input.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidationTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update Export test case on C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update test description for Invoice_MandatoryFieldsTestCase.xaml and Receipt_MandatoryFieldsTestCase.xaml on VB
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice/Invoice_MandatoryFieldsTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt/Receipt_MandatoryFieldsTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correction to Export test case on C#
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/ExportTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added back the YAML
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/50_Extraction/ExtractionTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- renamed TestCases to make the name shorter to try and workaround the 260 char limit to windows paths
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoQueueItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/NoSpecificContent.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/15_GetTransaction/QueueItemSpecificContent.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/20_Digitization/Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/30_Classification/Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/35_ClassificationValidation/ClassificationBRValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_Date.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_MandatoryFields.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_OtherFieldsConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_SpecificFieldConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_Subtotal.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Invoice_Total.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_Date.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_MandatoryFields.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_OtherFieldsConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_SpecificFieldConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/55_ExtractionValidation/Receipt_Total.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/70_Export/Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/NoQueueItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/NoSpecificContent.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/15_GetTransaction/QueueItemSpecificContent.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/20_Digitization/Digitize.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/30_Classification/Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/35_ClassificationValidation/ClassificationBRValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice_Date.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice_MandatoryFields.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice_OtherFieldsConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice_SpecificFieldConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice_Subtotal.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Invoice_Total.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt_Date.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt_MandatoryFields.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt_OtherFieldsConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt_SpecificFieldConfidence.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/55_ExtractionValidation/Receipt_Total.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/70_Export/Export.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- re-added azure-pipelines-DocumentUnderstandingProcess.yml
  .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-DocumentUnderstandingProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml
