Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Update NUSPEC version
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Update templates for 21.10.8
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CompleteWordTemplatefromExcelandEmail/contentFiles/any/any/pt0/.local/template.json
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreatePowerPointPresentation/contentFiles/any/any/pt0/.local/template.json
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  CreateRichHtmlEmail/contentFiles/any/any/pt0/.local/template.json
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  DownloadFile/contentFiles/any/any/pt0/.local/template.json
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  EnterExcelDataIntoWebsite/contentFiles/any/any/pt0/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SaveOutlookAttachments/contentFiles/any/any/pt0/.local/template.json
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  SplitExcelSheet/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Mobile: Use Mobile 21.10.5
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Mobile: Use Mobile 21.10.5 (#189)
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Mobile to 21.10.9
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update Mobile to latest version
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  MobileTestingProject/contentFiles/any/any/pt0/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt1/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt2/.local/template.json
  MobileTestingProject/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

updated system and UIA to correct versions
  AddChartToPowerPointPresentationFromExcel/UiPath.Template.AddChartToPowerPointPresentationFromExcel.nuspec
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  CompleteWordTemplatefromExcelandEmail/UiPath.Template.CompleteWordTemplatefromExcelandEmail.nuspec
  CreatePowerPointPresentation/UiPath.Template.CreatePowerPointPresentation.nuspec
  CreateRichHtmlEmail/UiPath.Template.CreateRichHtmlEmail.nuspec
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DownloadFile/UiPath.Template.DownloadFile.nuspec
  EnterExcelDataIntoWebsite/UiPath.Template.EnterExcelDataIntoWebsite.nuspec
  MobileTestingProject/UiPath.Template.MobileTestingProject.nuspec
  OrchestrationProcess/UiPath.Template.OrchestrationProcess.nuspec
  OrchestrationProcess/contentFiles/any/any/pt0/.local/template.json
  OrchestrationProcess/contentFiles/any/any/pt1/.local/template.json
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/UiPath.Template.SAPTestingProject.nuspec
  SAPChangeImpactMining/contentFiles/any/any/pt0/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt1/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt2/.local/template.json
  SAPChangeImpactMining/contentFiles/any/any/pt3/.local/template.json
  SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive/UiPath.Template.SaveDesktopOutlookEmailAttachmentsToSharepointOrOneDrive.nuspec
  SaveGMailAttachmentsToGoogleDrive/UiPath.Template.SaveGMailAttachmentsToGoogleDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/UiPath.Template.SaveOutlook365AttachmentsToSharepointorOneDrive.nuspec
  SaveOutlook365AttachmentsToSharepointorOneDrive/contentFiles/any/any/pt0/.local/template.json
  SaveOutlookAttachments/UiPath.Template.SaveOutlookAttachments.nuspec
  SplitExcelSheet/UiPath.Template.SplitExcelSheet.nuspec
  TransactionalProcess/UiPath.Template.TransactionalProcess.nuspec
  TransactionalProcess/contentFiles/any/any/pt0/.local/template.json
  TransactionalProcess/contentFiles/any/any/pt1/.local/template.json
  TriggerBasedAttendedAutomation/UiPath.Template.TriggerBasedAttendedAutomation.nuspec
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt0/.local/template.json
  TriggerBasedAttendedAutomation/contentFiles/any/any/pt1/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Cleaning and updating the VB test cases
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ClassifyFullDocument_MergedDocuments.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config-Assets.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/Config_Expected.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/JSONschema_ReleaseVersion.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/TestData_ReleaseVersion.csv
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/CompareClassificationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ConfigFile/ReadConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/CompareDigitizationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/CompareExportResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/CompareExtractionResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ExtractionBusinessRule/ExtractionBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CheckNUSPECversion.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CheckReleaseVersionUserGuide.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CompareProjectToTemplateJson.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/CreateAndSaveConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/DataFolderCheck.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/WorkflowHelpers/ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Missed files from last commit
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Make PRTests unpublishable, update ExtractionTestCase
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/TestYaml.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Make PRTests unpublishable second try
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Make PRTests unpublishable on both VB and C#
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/TestYaml.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/ConfigFile/ReadConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/ExtractionBusinessRule/ExtractionBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove unpublishable test cases from *.nupkg
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove unpublishable test cases from *.nupkg second try
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Remove unpublishable test cases from *.nupkg third try
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Initial Test Commit
  .pipelines/scripts/DUTestDataGenerator.py
  .pipelines/scripts/DocumentUnderstandingTestData.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Updated Project.json with the new name for the NuspecVersionTestCase.xaml - Created the DocumentUnderstandingTestData.yaml and DUTestDataGenerator.py
  .pipelines/scripts/DUTestDataGenerator.py
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  .pipelines/scripts/DocumentUnderstandingProcess/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/TestYaml.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Updated C# project.json as well (didn't work the first time) - Updated DUTestDataGenerator.py with Csharp support
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/TestYaml.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Rewrite ConfigFIleTestCase and ExportTestCase, clean the other tests
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ConfigFileTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Fixed small bug in DUTestDataGenerator.py
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added default classification threshold
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Exports/doc10_accounting_invoice.png_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-08-09-18-49-625.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-08-09-18-49-625.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-08-09-18-49-625.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/~Main-ActionCenter.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

VB - Add multiple assigns, clean Cache folder, update template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/JSONschema_ReleaseVersion.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/TestData_ReleaseVersion.csv
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Updated location of Yaml file, updated path to Yaml, updated nuspec
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/TestDataGeneration/DocumentUnderstandingTestData.yaml
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

C# - Rewrite all tests as in VB. Clean Cache folder, update template.json Update NUSPEC Update packages to latest version
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/.local/template.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/Config-Assets.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/Config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Cache/Config_Expected.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Classification/CompareClassificationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Digitization/CompareDigitizationResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Export/CompareExportResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Extraction/CompareExtractionResults.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NUSPECversionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CheckNUSPECversion.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CheckReleaseVersionUserGuide.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CompareProjectToTemplateJson.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/CreateAndSaveConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/DataFolderCheck.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/WorkflowHelpers/ReadConfigFile.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Renamed NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NuspecVersionTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

- Moved DocumentUnderstandingTestData.yaml, updated references in nuspec/py files
  .pipelines/scripts/DocumentUnderstandingProcess/DUTestDataGenerator.py
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correct some warnings
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Digitization/DigitizeTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Export/ExportTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/Extraction/ExtractionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ConfigFileTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/DataFolderContentTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/ProjectAndTemplateJSONFilesTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Correct argument name and update data variation
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/UiPath.Template.DocumentUnderstandingProcess.nuspec
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/GitPRchecks/UserGuideTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/NuspecVersionTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/Tests/GitPRchecks/UserGuideTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added Config and ClassificationBusinessRule TestCase
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added first version of the test cases
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/30_Classify.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Cache/ClassifyFullDocument_MergedDocuments.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/Classification/ClassifyTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/~Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added final version of classification threshold test case
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/ClassificationBRValidationTestCase.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added final modifications along with Config for test case
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Added try catch
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/AllDependencies.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/Document Understanding Process.nuget.props
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageCache.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/ProjectSettings.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/nuget.cache
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Main-ActionCenter.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Made changes and added more test data variations
  DocumentUnderstandingProcess/TestDataGeneration/DocumentUnderstandingTestData.yaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/15_GetTransactionItem.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/ClassificationBRValidationTestCase.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Made changes in classificationBRvalidation
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/PackageBindingsMetadata.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Framework/35_ClassificationBusinessRuleValidation.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Made cleanup
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.local/db/references.db
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/NuspecVersionTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/UserGuideTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Config.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Tests/ClassificationBusinessRule/ClassificationBRValidationTestCase.xaml
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Made variations cleanup
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/Exports/doc10_accounting_invoice.png_1-1.xlsx
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/documents/doc10_accounting_invoice_2022-08-09-18-49-625.png
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/metadata/doc10_accounting_invoice_2022-08-09-18-49-625.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/Data/InvoicesTraining/predictions/doc10_accounting_invoice_2022-08-09-18-49-625.png.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt0/VisualBasic/project.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/ClassificationBRValidationTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/NuspecVersionTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/UserGuideTestCase.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/.variations/config.json
  DocumentUnderstandingProcess/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml, azure-pipelines-DocumentUnderstandingProcess.yml
