Repository UiPath-Services/StudioTemplates: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml, .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml, .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml, azure-pipelines-DocumentUnderstandingProcess.yml

Path conditions:
  .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml: any of: BackgroundProcess, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework.yml: any of: REFramework, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-REFramework_Testing.yml: any of: REFramework_Testing, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-SAPChangeImpactMining.yml: any of: SAPChangeImpactMining, .pipelines
  .pipelines/azure-pipelines/azure-pipelines-Templates.yml: any file but: .pipelines
  .pipelines/azure-pipelines/azure-pipelines-TestAutomationProcess.yml: any of: TestAutomationProcess, .pipelines
  azure-pipelines-DocumentUnderstandingProcess.yml: any of: DocumentUnderstandingProcess, .pipelines, azure-pipelines-DocumentUnderstandingProcess.yml

Added missing sequences for C# - Windows version.
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Main.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/Tests/GetTransactionDataTestCase.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

LongRunningAutomation: Update version and terminology
  LongRunningAutomation/UiPath.Template.LongRunningProcess.nuspec
  LongRunningAutomation/contentFiles/any/any/pt0/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  LongRunningAutomation/contentFiles/any/any/pt0/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt1/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt1/CSharp/Main.xaml
  LongRunningAutomation/contentFiles/any/any/pt1/CSharp/project.json
  LongRunningAutomation/contentFiles/any/any/pt2/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  LongRunningAutomation/contentFiles/any/any/pt2/VisualBasic/project.json
  LongRunningAutomation/contentFiles/any/any/pt3/.local/template.json
  LongRunningAutomation/contentFiles/any/any/pt3/CSharp/Main.xaml
  LongRunningAutomation/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added missing catch on Init for VB-Windows version.
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt3/CSharp/.local/dataManagerElementsOrder.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt3/CSharp/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Added missing catch on Init for VB-Windows version. Conflicts:
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/.local/db/references.db
  REFramework/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/.local/AllDependencies.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/ProjectSettings.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/UiPath_REFramework.nuget.props
  REFramework/contentFiles/any/any/pt3/CSharp/.local/dataManagerElementsOrder.json
  REFramework/contentFiles/any/any/pt3/CSharp/.local/db/references.db
  REFramework/contentFiles/any/any/pt3/CSharp/Main.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

pt2
  TestAutomationFramework/contentFiles/any/any/pt2/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.gitignore
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.objects/.metadata
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.objects/.type
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.templates/TestCaseWebTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/.tmh/config.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/Data/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/Tests/TestCaseWeb.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/WorkFlows/AddWorkFlowsHere.txt
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/project.json
  TestAutomationFramework/contentFiles/any/any/pt2/CSharp/project.uiproj
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add crossPlatform VB
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.uiproj
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.uiproj
  TestAutomationFramework/contentFiles/any/any/pt3/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.gitignore
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.objects/.metadata
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.objects/.type
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.project/design.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.project/globalVariables.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.templates/TestCaseWebTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/.tmh/config.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/Data/Assets.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/Tests/TestCaseWeb.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/WorkFlows/AddWorkFlowsHere.txt
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt3/VisualBasic/project.uiproj
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

small fixes
  .gitignore
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/.templates/TestFramework.xaml
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

backup
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.codedworkflows/ConnectionsFactory.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.codedworkflows/ConnectionsManager.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.gitignore
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/CodedBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StartApplication.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StopApplication.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StopBrowser.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseApp.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseWeb.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Fix pt0 workflow issues, add CLAUDE.md and AGENTS.md documentation
  TestAutomationFramework/AGENTS.md
  TestAutomationFramework/CLAUDE.md
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StartApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StopApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.cs
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Align pt1 with pt0 conventions, fix pt0 class names
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestCaseAppTemplate.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseApp.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseWeb.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Application/StartApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Application/StopApplication.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Align pt2 (VB/Portable) with pt0 conventions
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Align pt3 (C#/Portable) with pt0 conventions
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/Browser/StopBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/SetUp.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/TearDown.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/Utils/InitAllAssets.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/VideoRecording/StartRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/TestFramework/VideoRecording/StopRecording.xaml
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Remove entryPoints from all project.json files
  TestAutomationFramework/CLAUDE.md
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt1/CSharp/project.json
  TestAutomationFramework/contentFiles/any/any/pt2/VisualBasic/project.json
  TestAutomationFramework/contentFiles/any/any/pt3/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add README.md with framework features, arguments, and usage guide
  TestAutomationFramework/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Sync template.json with project.json across all variants
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt1/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt2/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt3/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Bump version to 25.4.1, update projectUrl to test-cloud docs
  TestAutomationFramework/UiPath.Template.TestAutomationFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Update BackgroundProcess to LTS deps and add cross-platform variants STUD-11872
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt2/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt2/VisualBasic/Main.xaml
  BackgroundProcess/contentFiles/any/any/pt3/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt3/CSharp/Main.xaml
  BackgroundProcess/contentFiles/any/any/pt4/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt4/VisualBasic/Main.xaml
  BackgroundProcess/contentFiles/any/any/pt5/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt5/CSharp/Main.xaml
  CLAUDE.md
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

BackgroundProcess: port 25.10 deps and cross-platform variants from develop
  BackgroundProcess/UiPath.Template.BackgroundProcess.nuspec
  BackgroundProcess/contentFiles/any/any/pt0/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  BackgroundProcess/contentFiles/any/any/pt1/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt1/CSharp/Main.xaml
  BackgroundProcess/contentFiles/any/any/pt2/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt4/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt4/VisualBasic/Main.xaml
  BackgroundProcess/contentFiles/any/any/pt5/.local/template.json
  BackgroundProcess/contentFiles/any/any/pt5/CSharp/Main.xaml
  CLAUDE.md
Due: .pipelines/azure-pipelines/azure-pipelines-BackgroundProcess.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add Coding Agents Tutorial template
  .gitignore
  CODEOWNERS
  CodingAgentsTutorial/UiPath.Template.CodingAgentsTutorial.nuspec
  CodingAgentsTutorial/contentFiles/any/any/pt0/.local/template.json
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/.claude/rules/project-context.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/.claude/skills/coding-agents-course/SKILL.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/.cursor/rules/coding-agents-course.mdc
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/AGENTS.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/CLAUDE.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/Data/expenses.xlsx
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/GEMINI.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/Main.xaml
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/README.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/Tests/ValidateExpense_Tests.xaml
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/Workflows/ReadExpenses.xaml
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/Workflows/ValidateExpense.xaml
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/Workflows/WriteSummary.xaml
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/assets/expenses.html
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/PROGRESS.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/SETUP.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/agent/PROCEDURE.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/gitignore.template
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/entry-points.json
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/project.json
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/project.uiproj
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/specs/step-03-pdd.md
  CodingAgentsTutorial/images/icon.png
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

Add @roalexandru to global owners
  CODEOWNERS
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

CodingAgentsTutorial: 26.10.2 — fixes from five test runs
  CodingAgentsTutorial/UiPath.Template.CodingAgentsTutorial.nuspec
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/.claude/rules/project-context.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/AGENTS.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/README.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/SETUP.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/agent/PROCEDURE.md
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/complete.html
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/course/gitignore.template
  CodingAgentsTutorial/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: AGENTS.md/CLAUDE.md as a how-to-build playbook, all variants
  REFramework/contentFiles/any/any/pt0/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: drop the removed GetAppCredential workflow from the READMEs
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: remove the exception screenshot from the cross-platform variants
  REFramework/contentFiles/any/any/pt4/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Config.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Exceptions_Screenshots/.gitignore
  REFramework/contentFiles/any/any/pt4/VisualBasic/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/NTakeScreenshot_Coded.cs
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/NTakeScreenshot_Coded.cs.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/entry-points.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/Data/Config.json
  REFramework/contentFiles/any/any/pt5/CSharp/Exceptions_Screenshots/.gitignore
  REFramework/contentFiles/any/any/pt5/CSharp/Exceptions_Screenshots/placeholder.txt
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/NTakeScreenshot_Coded.cs
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/NTakeScreenshot_Coded.cs.json
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/SetTransactionStatus.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/TakeScreenshot.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: set foreground mode where Studio reads it; 26.10.1-preview2
  CLAUDE.md
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/project.json
  REFramework/contentFiles/any/any/pt5/.local/template.json
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: DotNetVersion Net10 in every variant's template.json
  CLAUDE.md
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt5/.local/template.json
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: queue picked on Get Transaction Item, ConfigSections rename; 26.10.1-preview3
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt2/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Main.xaml.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Main.xaml.json
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Tests/MainTestCase.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Data/Config.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt5/CSharp/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/Data/Config.json
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/GetTransactionData.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/InitAllSettings.xaml
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

TestAutomationFramework: establish pt0 (VB/Windows) as the reference baseline
  .gitignore
  TestAutomationFramework/AGENTS.md
  TestAutomationFramework/CLAUDE.md
  TestAutomationFramework/README.md
  TestAutomationFramework/contentFiles/any/any/pt0/.local/template.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.project/PackageBindingsMetadata.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/.templates/TestFramework.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StartApplication.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Application/StopApplication.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StartBrowser.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Browser/StopBrowser.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/SetUp.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/TearDown.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/DetectLocalBuild.xaml
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/Utils/InitAllAssets.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StartRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/TestFramework/VideoRecording/StopRecording.cs
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseApp.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/Tests/TestCaseWeb.json
  TestAutomationFramework/contentFiles/any/any/pt0/VisualBasic/project.json
Due: .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: let the user pick the .NET version; agent guide under Framework/; 26.10.1-preview4
  CLAUDE.md
  REFramework/UiPath.Template.REFramework.nuspec
  REFramework/contentFiles/any/any/pt0/.local/template.json
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/.local/template.json
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/.local/template.json
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt3/.local/template.json
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/UiPath_REFramework/README.md
  REFramework/contentFiles/any/any/pt4/.local/template.json
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt5/.local/template.json
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: remove the Documentation PDFs from every variant
  REFramework/contentFiles/any/any/pt0/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt1/CSharp/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/README.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt3/CSharp/Documentation/REFramework Documentation-EN.pdf
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/README.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Documentation/REFramework Documentation (EN).pdf
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/README.md
  REFramework/contentFiles/any/any/pt5/CSharp/Documentation/REFramework Documentation (EN).pdf
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/README.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: concise agent guide with the current facts; CLAUDE.md imports AGENTS.md
  CLAUDE.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/CLAUDE.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/CLAUDE.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: package version 26.10.1
  REFramework/UiPath.Template.REFramework.nuspec
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml

REFramework: drop the Troubleshooting section from Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt0/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt1/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt2/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt3/CSharp/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt4/VisualBasic/Framework/AGENTS.md
  REFramework/contentFiles/any/any/pt5/CSharp/Framework/AGENTS.md
Due: .pipelines/azure-pipelines/azure-pipelines-REFramework.yml, .pipelines/azure-pipelines/azure-pipelines-Templates.yml
